<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>侧边导航栏</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="index1.css">
</head>
<body>
    <div class="navbar">
        <input type="checkbox"  id="checkbox">
        <label for="checkbox">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        <ul>
            <li>
                <img src="tx_01.jpeg">
                <span>欢迎您！管理员</span>
            </li>
            <li>
                <a herf="javascript:void(0)">
                    <i class="fa fa-home" aria-hidden="true"></i>
                <span>首页</span>
                </a>

            </li>

            <li>
                <a herf="javascript:void(0)">
                    <i class="fa-solid fa-phone"></i>
                <span>客户服务</span>
                </a>

            </li>
            <li>
                <a herf="javascript:void(0)">
                    <i class="fa-solid fa-cart-shopping"></i>
                <span>购物车</span>
                </a>

            </li>
            <li>
                <a herf="javascript:void(0)">
                    <i class="fa-solid fa-dollar-sign"></i>
                <span>生财有道</span>
                </a>

            </li>
            <li>
                <a herf="javascript:void(0)">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                <span>k线相似</span>
                </a>

            </li>
        </ul>
        
    </div>

</body>
</html>